@page
@model EventAppEFCore.Pages.PvtParticipants.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PrivateParticipant[0].FName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrivateParticipant[0].LName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrivateParticipant[0].PersonalIdNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrivateParticipant[0].AdditionalInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrivateParticipant[0].PaymentType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PrivateParticipant) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalIdNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionalInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentType)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
