@page
@using EventAppEFCore.Models
@model EventAppEFCore.Pages.Events.DetailsModel

@{
    ViewData["Title"] = "Ürituse vaade";
}
<div class="container">
    <div class="row libled">
        <div class="col-md-2 createhero">
            <span class="align-middle">Osavõtjad</span>
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="row offset-md-4">

<h4 class="bluetext">Osavõtjad</h4>
<br />
<div>
    
    <dl class="row">
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.EventInfo.EventName)
        </dt>
        <dd class="col-md-10">   
            @Html.DisplayFor(model => model.EventInfo.EventName)
        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.EventInfo.EventDate)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.EventInfo.EventDate)
        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.EventInfo.EventLocation)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.EventInfo.EventLocation)
        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.EventInfo.EventMemo)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.EventInfo.EventMemo)
        </dd>
        <dt class="col-md-2">
            Osavõtjad:
        </dt>
        <dd class="col-md-6">
            @* -------- List of participants -------- *@

            <table class="table table-sm table-borderless">
                <tbody>
                    @{
                        int counter = 1;
                    }
                    <tr><td><br /></td></tr>
                    @foreach (var item in Model.Participants)
                    {
                        <tr>                           
                            <td>
                                @counter.
                            </td>
                            <td>
                                @if (item is PrivateParticipant)
                                {
                                    @((((PrivateParticipant)item).FName) + " " + (((PrivateParticipant)item).LName))

                                }
                                else if (item is CompanyParticipant)
                                {
                                    @(((CompanyParticipant)item).CoName)
                                }
                            </td>
                            <td>
                                @if (item is PrivateParticipant)
                                {
                                    @(((PrivateParticipant)item).PersonalIdNumber)

                                }
                                else if (item is CompanyParticipant)
                                {
                                    @(((CompanyParticipant)item).CoCode)
                                }
                            </td>
                            <td>
                                <a asp-page="./Details" asp-route-id="@item.ID">VAATA</a>
                            </td>
                            <td>
                                <a asp-page="./Delete" asp-route-id="@item.ID">KUSTUTA</a>
                            </td>
                        </tr>
                        counter++;
                    }
                </tbody>
            </table>
            @* ----------------------------------------------------------------------------- *@

        </dd>
    </dl>
</div>

<h4 class="bluetext">Osavõtjate lisamine</h4>
<br />
@* -- Radio buttons for private participant or company participant form -------- *@
<div class="row">
    <div class="col-md-2">
        </div>
    <div class="col-md-10">
    <form>
            <div class="form-check form-check-inline  float-left">
                <input class="form-check-input" type="radio" name="radioButton" id="radioYes" value="Yes" onchange="updatePage()" checked />
                <label for="radioYes">Eraisik</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radioButton" id="radioNo" value="No" onchange="updatePage()" />
                <label for="radioNo">Ettevõte</label>
            </div>
    </form>
    </div>
</div>
@* ----------------------------------------------------------------------------- *@

<div id="yesContent" style="display:block">
   
    <main role="main" class="pb-3">
        <partial name="_CreatePvtPart" />
    </main>
</div>
<div id="noContent" style="display:none">
    <div class="pb-3">
        <partial name="_CreateCoPart" />
    </div>
</div>
</div>
</div>

@* ---- Hide/show div according to radio button choice ----- *@
<script>
    function updatePage() {
        var radioYes = document.getElementById("radioYes");
        var radioNo = document.getElementById("radioNo");
        var yesContent = document.getElementById("yesContent");
        var noContent = document.getElementById("noContent");
        // here a function that clears all fields, so it wont take anything with when change is made in the middle of filling the form
        // but with this architecture it seems to work as expected 
        if (radioYes.checked) {
            yesContent.style.display = "block";
            noContent.style.display = "none";
        }
        else if (radioNo.checked) {
            yesContent.style.display = "none";
            noContent.style.display = "block";
        }
    }
</script>
@* --------------------------------------------------------- *@
