@page
@model EventAppEFCore.Pages.Events.IndexModel

@{
    ViewData["Title"] = "Avaleht";
}
<div class="container">
    <div class="row">
        <div class="col-md-6 hero">
            <p>Sed nec elit vestibulum, <b>tincidunt orci</b> et, sagittis ex. Vestibulum rutrum <b>neque suscipit</b> ante mattis maximus. Nulla non sapien <b>viverra, lobortis lorem non</b>, accumsan metus.</p>
            </div>
        <div class="col-md-6 imgcnt">
            <img src="~/images/pilt.jpg" alt="Puidust pargipink suure puu all">
        </div>
    </div>

</div>



<div class="container">
    <div class="row">
        <div class="col-md-6">
<table class="table">
    <tbody>
@foreach (var item in Model.EventInfo) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDate)
            </td>
          
            
            <td>
                <a asp-page="./Details" asp-route-id="@item.ID">OSAVÕTJAD</a>
                <a asp-page="./Delete" asp-route-id="@item.ID">X</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-page="Create">LISA ÜRITUS</a>
</p>
</div>
        <div class="col-md-6">
            <table class="table">
                <tbody>
                    @foreach (var item in Model.EventInfo)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.EventName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EventDate)
                            </td>
                            <td>
                                
                                <a asp-page="./Details" asp-route-id="@item.ID">OSAVÕTJAD</a> 
                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            
        </div>
</div>
</div>
