@page
@model EventAppEFCore.Pages.Events.IndexModel

@{
    ViewData["Title"] = "Avaleht";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventInfo[0].EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventInfo[0].EventDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventInfo[0].EventLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventInfo[0].EventMemo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.EventInfo) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventMemo)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
